
select, input[type="submit"] {
    margin: 10px 0;
    padding: 10px 30px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario {
    display: flex;
    flex-direction: column;
}

option:disabled {
    color: black;
    background-color: #a1eeff;
}

@media screen and (min-width: 600px) {
    #formulario {
        flex-direction: row;
    }
    
}

@media screen and (min-width: 1024px) {
    #formulario {
        flex-direction: row;
    }
    
}