* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    align-items: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


ul{
    display: none;
    background-color: #a1eeff;
    left: 0;
    width: 100%;
    list-style: none;
}
li{
    position: relative;
    width:100%;
 
}
li:first-child{
    background-color: #29b4d5;
}
header {
    /* background-color: ; */
    overflow: hidden;
    background-color: #a1eeff;
    top: 0;
    position: sticky;
}
header img {
    padding: 10px;

}
.burger_menu{

    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
header input[type="checkbox"]{
    display: none;
}
#burger_menu:checked ~ ul{
    display: block;
}