* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    align-items: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


ul{
    flex-direction: column; 
    position: fixed;
    background-color: #a1eeff;
    top: 107px;
    left: 0;
    width: 100%;
    visibility: hidden; 
    list-style: none;
}
li{
    position: relative;
    width:100%;
    left: 50%; 
}
li:first-child{
    background-color: #29b4d5;
}
header {
    /* background-color: ; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.burger_menu{
    position: absolute;
    top: 2%;
    left: 50%;
    display: flex;
}
#burger_menu{
    display: none;
}
#burger_menu:checked ~ ul{
    visibility: visible;
}