/* https://es.stackoverflow.com/questions/55601/texto-flotante-al-pasar-el-cursor-por-sobre-una-imagen */
/* Invisible texto */
figcaption {
    display: none;
    transition: all .5s;
}
/* Visible texto */
figure:hover > figcaption {
    display:block;
    transition: all .5s;
}
.principal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(100%);
}