/* https://es.stackoverflow.com/questions/55601/texto-flotante-al-pasar-el-cursor-por-sobre-una-imagen */
/* Invisible texto */
figcaption {
    display: none;
    transition: all .5s;
}
/* Visible texto */
figure:hover > figcaption {
    display:block;
    transition: all .5s;
}

