.principal {
    margin-inline: 30px;
}
img {
    object-fit: cover;
    
    border-radius: 10px;
}
img:hover {
    opacity: 0.8;
    filter: grayscale(100%);
}

#libromasvendido img, #libromejorvalorado img, div a img, #formulario img{
    max-height: 25vw;
}

#cuadros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#historia, #filosofia, #aventuras, #cienciaFiccion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
#maps{
    display: flex;
    justify-content: center;    
}
#tienda{
    display: flex;
    justify-content: center;
    margin: 3%;
}