@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Viga&display=swap');
* {
     font-family: 'Kanit', sans-serif
}
h1, h2 {
    font-family: 'Viga', sans-serif;
    text-align: center;

}

p {
    padding: 2%;
}

h1 {
    font-size: 10vw;
    margin: 2%;
    color: black;
}

#librodelasemana, #presentacion, #otros, #recomendaciones, #otrosCatalogo, #historia, #filosofia, #aventuras, #cienciaFiccion  {
    background-color: rgba(255, 255, 255, 0.535);
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
}
#tituloHistoria, #tituloCF, #tituloFilosofia, #tituloAventuras {
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
}

li {
    font-size: 4vw;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.535);
}
#libromasvendido, #libromejorvalorado, 
#librodelasemana{
    text-align: center;

}


#recomendaciones {
    background-color: goldenrod;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 5vw;
    }
    li {
        font-size: 2.5vw;
    }
    p {
        font-size: 2.5vw;
    }
    h2 {
        font-size: 3.5vw;
    }
    
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 8vw;
    }
    li {
        font-size: 1.5vw;
    }
    p {
        font-size: 1.5vw;
    }
    h2 {
        font-size: 3.5vw;
    }
    
}