@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Viga&display=swap');
* {
     font-family: 'Kanit', sans-serif
}
h1, h2 {
    font-family: 'Viga', sans-serif;

}

h1 {
    text-align: center;
    font-size: 10vw;
    margin: 2%;
}


#presentacion{
    text-align: center;
    margin: 2%;

}
li {
    font-size: 4vw;
}
#libromasvendido{
    text-align: center;

}

#libromejorvalorado{
    text-align: center;
}

#librodelasemana {
    text-align: center;
}

#recomendaciones {
    background-color: goldenrod;
}


@media screen and (min-width: 600px) {
    h1 {
        font-size: 5vw;
    }
    li {
        font-size: 2.5vw;
    }
    p {
        font-size: 2.5vw;
    }
    
}